<%= render partial: '/layouts/header' %>
  <!-- ↓contents -->
    <div, id="contents" class="cFix">
      <div id="mainContents" style="margin-top: 50px;">

  <table cellspacing="0" class="wFull bdCell pCell5 mT20">


        <p class="mT10">
        <span class="fgBlue b">◎</span>の日時が受け入れ可能日です。変更したい日を選んで送信してください。<br />
        </p>
      <%= form_tag('/schedule') do %>
        <!-- ↓ jsRsvCdTbl -->
        <div id="jsRsvCdTbl" class="ReserveConditionTable underTabContents">

          <div class="coverTable">
            <div class="whiteTable2">
              <table class="innerTable taC nowrap" cellpadding="0" cellspacing="0">
                <tr>
                  <th rowspan="2" class="timeColor"><span class="iS arrowPagingWeekLOff">前の一週間</span></th><th colspan="2" class="monthColor pV10">&nbsp;</th><th colspan="12" class="monthColor pV10">2015年06月</th><th rowspan="2" class="timeColor"></th></tr>
                <tr>
                  <% @days.each do |d| %>
                  <th class="<%= WCLASS[d.wday] %>"><%= d.day %><br/>(<%= WDAY[d.wday] %>)</th>
                  <% end %>
                  </tr>
                <tr>
                  <th class="innerCell">
                  <table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
                    <% (9..23).each do |t|%>
                      <tr><th class="timeCell"><p class="hourR"><%= t %>：00</p></th></tr>
                      <tr><th class="separate"></th></tr>
                      <tr><th class="timeCell"><p class="hourR"><%= t %>：30</p></th></tr>
                      <tr><th class="separate"></th></tr>
                    <% end %>
                  </table>
                  </th>
                      <% @days.each do |day|%>
                      <th class="innerCell">
                          <table cellpadding="0" cellspacing="0" class="moreInnerTable">
                              <% 30.times do |t| %>
                              <% if CooksSchedule.find_by(user_id: current_user.id, start_time: 90+t*5, date: day, flag: 0).blank? %>
                                  <tr>
                                    <td class="closeColor"><p class="scheduleOffR">－<%= check_box "shift[#{day}]", "#{t*5+90}" , {}, true, false %></p></td></tr>
                                  <tr><th class="separate"></th></tr>
                                <% else %>
                                  <tr>
                                    <td class="openColor"><p class="scheduleR">◎<%= check_box "shift[#{day}]", "#{t*5+90}" , {}, true, false %></p></td>
                                  </tr>
                                  <tr><th class="separate"></th></tr>
                                <% end %>
                              <% end %>
                          </table>
                      </th>
                      <% end %>
                        </th>
                      <td valign="top">
                  <table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
                    <% (9..23).each do |t| %>

                    <tr><th class="timeCell"><p class="hourR"><%= t %>：00</p></th></tr>
                    <tr><th class="separate"></th></tr>
                    <tr><th class="timeCell"><p class="hourR"><%= t %>：30</p></th></tr>
                    <tr><th class="separate"></th></tr>

                    <% end %>
                    </table>
                </td>

                </tr>

              </table>
            </div>
          </div>
        </div>
      <input type="submit" value="提出" class="btn btn-default ">
      <% end %>

<%= render partial: '/layouts/footer' %>
