<%= render partial: '/layouts/header' %>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="papers text-center">
              <h1><%= @product.title %></h1>
              <h4><%= @product.explanation %></h4>
              <%= image_tag @product.avatar.url %>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@product.user.latitude}%2C#{@product.user.longitude}" %>
            </div>
        </div>
        <div class="col-md-5">
            <div class="papers text-center">
              <div class="cook_info">
              <div>
                <h3>Cookのプロフィール</h3>
                <%= image_tag @product.user.avatar.url, size: '200x200' %>
                <p>Name: <%= @product.user.name %></p>
              </div>
              <div>
                <p>Profile: <%= @product.user.profile %> </p>
              </div>

              </div>
            </div>
        </div>
<!--         <div class="col-md-5">
            <div class="papers text-center">
            
              <%= form_tag(action: :purchase, method: :post) do %>
                <div class="field">
                  <%= label_tag '人数' %>
                  <%= text_field_tag 'persons' %>
                </div>
                <br>
                <div class="field">
                  <%= label_tag '日程' %>
                  <%= date_field_tag 'book_time' %>
                </div>
                <br>
                <%= hidden_field_tag 'product_id', @product.id %>
               <% if user_signed_in? %>
               <script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>" data-partial="true"></script><br>
               <%= submit_tag("予約する") %>
               <% else %>
               <a href="/users/sign_in">予約する前に会員登録</a>
               <% end %>
            <% end %>
            </div>
        </div> -->
    </div>
</div>
<div class="container" style = "margin-top:60px">
    <div class="row">
      <table cellspacing="0" class="wFull bdCell pCell5 mT20">
        <p class="mT10">
        <span class="fgBlue b">◎</span>の日時が空いてます。ご希望の日時の<span class="fgBlue b">◎</span>を選択してください。<br />
        </p>
        <!-- ↓ jsRsvCdTbl -->
        <div id="jsRsvCdTbl" class="ReserveConditionTable underTabContents">
          <div class="coverTable">
            <div class="whiteTable2">
              <table class="innerTable taC nowrap" cellpadding="0" cellspacing="0">
                <tr>
                  <th rowspan="2" class="timeColor"><span class="iS arrowPagingWeekLOff">前の一週間</span></th><th colspan="2" class="monthColor pV10">&nbsp;</th><th colspan="12" class="monthColor pV10">2015年06月</th><th rowspan="2" class="timeColor"></th></tr>
                <tr>
                  <% @days.each do |d| %>
                  <th class="<%= WCLASS[d.wday] %>"><%= d.day %><br/>(<%= WDAY[d.wday] %>)</th>
                  <% end %>
                  </tr>
                <tr>
                  <th class="innerCell">
                  <table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
                    <% (9..23).each do |t|%>
                      <tr><th class="timeCell"><p class="hourR"><%= t %>：00</p></th></tr>
                      <tr><th class="separate"></th></tr>
                      <tr><th class="timeCell"><p class="hourR"><%= t %>：30</p></th></tr>
                      <tr><th class="separate"></th></tr>
                    <% end %>
                  </table>
                  </th>
                      <% @days.each do |day|%>
                      <th class="innerCell">
                          <table cellpadding="0" cellspacing="0" class="moreInnerTable">
                              <% 30.times do |t| %>
                                <% if CooksSchedule.find_by(user_id: @product.user.id, start_time: 90+(t-1)*5, date: day, flag: 0).blank? %>
                                  <tr>
                                    <td class="closeColor"><p class="scheduleOffR">－</p></td></tr>
                                  <tr><th class="separate"></th></tr>
                                <% else %>
                                  <tr>
                                    <td class="openColor"><p class="scheduleR"><a href="/books/<%= @product.id %>/<%= day %>/<%= 90+t*5 %>/confirm" title= "◎" class= "bS db reserveImmediately offL vaT">◎</a></p></td>
                                  </tr>
                                  <tr><th class="separate"></th></tr>
                                <% end %>
                              <% end %>
                          </table>
                      </th>
                      <% end %>
                        </th>
                      <td valign="top">
                  <table cellpadding="0" cellspacing="0" class="moreInnerTable vaT">
                    <% (9..23).each do |t| %>

                    <tr><th class="timeCell"><p class="hourR"><%= t %>：00</p></th></tr>
                    <tr><th class="separate"></th></tr>
                    <tr><th class="timeCell"><p class="hourR"><%= t %>：30</p></th></tr>
                    <tr><th class="separate"></th></tr>

                    <% end %>
                    </table>
                </td>
                  
                </tr>

              </table>
            </div>
          </div>
        </div>
</div>
<%= render partial: '/layouts/footer' %>
