<%= render partial: '/layouts/header' %>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="papers text-center">
              <h1><%= @product.title %></h1>
              <h4><%= @product.explanation %></h4>
              <%= image_tag @product.avatar.url %>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@product.user.latitude}%2C#{@product.user.longitude}" %>
            </div>
        </div>
        <div class="col-md-5">
            <div class="papers text-center">
              <div class="cook_info">
              <div>
                <h3>Cookのプロフィール</h3>
                <%= image_tag @product.user.avatar.url, size: '200x200' %>
                <p>Name: <%= @product.user.name %></p>
              </div>
              <div>
                <p>Profile: <%= @product.user.profile %> </p>
              </div>

              </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="papers text-center">
            
              <%= form_tag(action: :purchase, method: :post) do %>
                <div class="field">
                  <%= label_tag '人数' %>
                  <%= text_field_tag 'persons' %>
                </div>
                <br>
                <div class="field">
                  <%= label_tag '日程' %>
                  <%= date_field_tag 'book_time' %>
                </div>
                <br>
                <%= hidden_field_tag 'product_id', @product.id %>
               <br>
               <% if user_signed_in? %>
               <script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>" data-partial="true" data-text="この条件で予約する" ></script>
               <% else %>
               <a href="/users/sign_in">予約する前に会員登録</a>
               <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>
<%= render partial: '/layouts/footer' %>
