<br><br><br><br><br>
<%= image_tag @product.avatar.url %>
<%= form_tag({controller: :books, action: :create}) do %>
  <div class="field">
    <%= label_tag '人数' %>
    <%= text_field_tag 'persons' %>
  </div>
  <div class="field">
    <%= label_tag '時間' %>
    <%= date_field_tag 'book_time' %>
  </div>
  <div class="actions">
    <%= submit_tag "この条件で予約する" %>
  </div>
  <%= hidden_field_tag 'user_id', current_user.id %>
  <%= hidden_field_tag 'product_id', @product.id %>
<% end %>