<!DOCTYPE html>
<html>
<head>
  <title>Kitchen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--   <script type='text/javascript' src='http://code.jquery.com/jquery-git2.js'></script>
<script type="text/javascript" src="http://jpostal.googlecode.com/svn/trunk/jquery.jpostal.js"></script> -->
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper" id="wrapper">
<%= yield %>
</div>
<section class="footer" id="footer">
  <p class="text-center">
    <a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </p>
  <div class="container">
    <ul>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>

    </ul>
    <p>
      &copy; 2015 Copyright Kitchen with Someone <br>

    </p>
  </div>
</section>
</div>
<script type="text/javascript">
jQuery(function($) {
$(document).ready( function() {
  //enabling stickUp on the '.navbar-wrapper' class
  $('.navbar-wrapper').stickUp({
    parts: {
      0: 'banner',
      1: 'aboutus',
      2: 'specialties',
      3: 'gallery',
      4: 'feedback',
      5: 'contact'
    },
    itemClass: 'menuItem',
    itemHover: 'active',
    topMargin: 'auto'
    });
  });
});
$('#postcode1').jpostal({
  postcode : [
    '#postcode1',
    '#postcode2'
  ],
  address : {
    '#address1'  : '%3',
    '#address2'  : '%4',
    '#address3'  : '%5'
  }
});
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
